@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper text-ink;
  }
  
  /* حذف استایل آبی پیش‌فرض هنگام انتخاب متن و جایگزینی با سبز فسفری */
  ::selection {
    background-color: #CCFF00;
    color: #1a1a1a;
  }
}

/* اسکرول بار نامرئی (برای حس اپلیکیشن مانند) یا خیلی مینیمال */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}